<title>
    Thank You
</title>

<div class="thanksMessage">
    <span class="thanksText">Thank you</span>
    <br /><br />
    Thank you for taking the time to complete this survey.<br /><br />
    We truly value the information you have provided.
</div>

@Html.Hidden("HideNextButton", true)
@Html.Hidden("HideBackButton", true)